body {
    display: flex;
    min-height: 98vh;
    flex-direction: row;
    background-color: #444c4f;
    opacity: 1;
    background-image:  radial-gradient(#0089fc 1.1px, transparent 1.1px), radial-gradient(#0089fc 1.1px, #444c4f 1.1px);
    background-size: 44px 44px;
    background-position: 0 0,22px 22px;
}

table { 
    border-collapse: collapse; 
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

td, th {
    padding: 8px;
    border: 2px solid black; 
}

th {
    background: #ffffff17; 
}

textarea {
    resize: none;
}

select {
    text-align: center;
    font-size: large;
}

.abilities {
    text-align: left;
}

.input {
    padding: 10px;
    width: 200px;
    font-size: medium;
}

caption {
    font-size: x-large;
    margin-top: 40px;
    margin-bottom: 10px;
}

.msgbox {
    padding: 10px 0px 25px 10px;
}

p, ol {
    margin-bottom: 0;
}

li {
    color: red;
}